* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #43cea2, #185a9d);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background: #fff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    width: 100%;
    max-width: 450px;
}

.register-form h2 {
    text-align: center;
    color: #333;
    margin-bottom: 25px;
}

.input-group {
    margin-bottom: 20px;
}

    .input-group label {
        display: block;
        margin-bottom: 5px;
        color: #444;
        font-weight: 600;
    }

    .input-group input {
        width: 100%;
        padding: 10px 12px;
        border: 1px solid #ccc;
        border-radius: 8px;
        font-size: 16px;
    }

button {
    width: 100%;
    background: #185a9d;
    color: white;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}

    button:hover {
        background: #163d70;
    }

.register-form p {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.register-form a {
    color: #185a9d;
    text-decoration: none;
    font-weight: 600;
}

.register-form a:hover {
        text-decoration: underline;
 }
