{% load static %}
{% block content %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Sog'lom Nafas</title>

<link rel="icon" type="image/x-icon" href="{% static 'assets/images/favicon.png' %}">
<link rel="stylesheet" href="{% static 'app/content/1style.css' %}">

<div class="login-container">
    <h2>{{ title }}</h2>
    <form action="{% url 'login_view' %}" method="post">
        {% csrf_token %}
        <h4>Mahalliy akkaunt bilan tizimga kirish.</h4>
        <hr />

        <div class="form-group">
            <label for="id_username">Foydalanuvchi nomi</label>
            {{ form.username }}
        </div>

        <div class="form-group">
            <label for="id_password">Parol</label>
            {{ form.password }}
        </div>

        <input type="hidden" name="next" value="/" />
        <button type="submit" class="login-btn">Kirish</button>

        {% if form.errors %}
        <p class="validation-summary-errors">Iltimos, to'g'ri foydalanuvchi nomi va parolni kiriting.</p>
        {% endif %}

        <div class="signup-link">
            Akkountingiz yo'qmi? <a href="{% url 'register' %}">Ro'yxatdan o'tish</a>
        </div>
        <div class="signup-link">
            Akkountni o'chirmoqchimisiz? <a href="{% url 'delete_account' %}">Akkountni o'chirish</a>
        </div>

    </form>
</div>
{% endblock %}

{% block scripts %}
    {% load static %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>
{% endblock %}
