<!DOCTYPE html>
{% load static %}
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sog'lom Nafas</title>

    <link rel="icon" type="image/x-icon" href="{% static 'assets/images/favicon.png' %}">
    <title>Ro'yxatdan o'tish</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/content/register.css' %}">
</head>
<body>
    <div class="container">
        <form method="POST" class="register-form">
            {% csrf_token %}
            <h2>Hisob yaratish</h2>
            <div class="input-group">
                <label>Foydalanuvchi nomi</label>
                {{ form.username }}
            </div>
            <div class="input-group">
                <label>Parol</label>
                {{ form.password1 }}
            </div>
            <div class="input-group">
                <label>Parolni tasdiqlash</label>
                {{ form.password2 }}
            </div>
            <button type="submit">Ro'yxatdan o'tish</button>
            <p>Allaqachon akkauntingiz bormi? <a href="{% url 'login' %}">Kirish</a></p>
        </form>
    </div>
</body>
</html>
